/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 50px;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    background-image: url('https://img.freepik.com/premium-vector/abstract-green-watercolor-gradient-vector-background-light-texture-pattern-design-pastel-color-wallpaper-bright-graphic-illustration-modern-doodle-shape-nature-background-creative-template_548264-227.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header {
    background-color: rgb(33, 99, 35);
    color: white;
    text-align: center;
    padding: 30px 0;
    font-family: cursive;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header .tagline {
    font-size: 1.2em;;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #d6f7ced8;
    border-radius: 8px;
    opacity: 0; /* Initially hide the section */
    transform: translateX(-100px); /* Move sections off-screen */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

/* Add animation classes for when the section comes into view */
.animate-roll {
    opacity: 0;
    transform: translateY(100px); /* Move from bottom */
}

.animate-roll.visible {
    opacity: 1;
    transform: translateY(0); /* Roll in */
}

h2 {
    color: #296d26;
    margin-bottom: 15px;
}

.project {
    margin-bottom: 15px;
}

.project h3 {
    color: #3a87d4ee;
}

#skills ul {
    list-style: none;
    padding-left: 0;
}

#skills li {
    margin-bottom: 10px;
}

a {
    color: #316b33;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #174b19;
    color: white;
    margin-top: 20px;
}

#nature-sports {
    background-color: #eaf4e2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

#contact {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

#contact a {
    color: #1f6421;
}

#contact a:hover {
    text-decoration: underline;
}
